
table{
  width:100%;
}
table,td.bold,th{
  border: 1px solid rgb(143, 136, 136);
  border-collapse: collapse;
}
.bold{
  font-weight: bold;
  padding-left: 3px;
}
head tr th{
  padding: 2px;
}

.general-text{
 font-size: 13px;
 color: black;
}

.body-head tr.head th{
  text-align: center;
  padding: 5px 0px;
}
.body-head tr.head th{
  background-color: #c4d69b;
}

.body-head tr.border-style td{
  border: 1px solid rgb(143, 136, 136);
  border-collapse: collapse;
}

.body-head tr.set-border td.border-td{
  border: 1px solid rgb(143, 136, 136);
  border-collapse: collapse;
}

.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
  padding-right: 5px;
}


.input-table,.select-table {
  width: 100%;
  padding: 8px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}

.textarea-table{
  width: 100%;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  overflow:hidden
}

.line-height{
  line-height: 2;
}
.hide{
  display: none;
}





