
@font-face {
    font-family: Poppins;
    src        : url('../../../../public/admin-public/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: Khmer_OS_Wat_Phnom;
    src        : url('../../../../public/admin-public/fonts/Kh Muol Regular.ttf');
}
@font-face {
    font-family: Siemreap;
    src        : url('../../../../public/admin-public/fonts/Siemreap-Regular.ttf');
}
